
<div class="container">
    <div class="card">
        <div class='card-header'>
            <h2>{{pageTitle}}</h2>
        </div>
        <div class="card-body">
            <form novalidate [formGroup]="myForm" (ngSubmit)="onSubmit()">

               <!----> <div class="form-group row mb-2">
                    <label class='col-md-2'> Owner Id</label>
                    <div class='col-md-6'>
                        <input type="text" class="form-control" formControlName="ownerId" #ownerId />
                    </div>
                    <div>
                        <div *ngIf="myForm.controls['ownerId'].invalid && 
                            (myForm.controls['ownerId'].dirty || 
                            myForm.controls['ownerId'].touched)" class="alert alert-danger">
                            <span *ngIf="myForm.controls['ownerId'].errors.required">
                                Owner Id is required.
                            </span>
                        </div>
                    </div>
                </div>





                <div class="form-group row mb-2">
                    <div class='col-md-2'><label> Owner Name</label></div>
                    <div class='col-md-6'>
                        <input type="text" class="form-control" formControlName="ownerName" #ownerName />
                    </div>
                    <div>
                        <div *ngIf="myForm.controls['ownerName'].invalid && 
                            (myForm.controls['ownerName'].dirty || 
                            myForm.controls['ownerName'].touched)" class="alert alert-danger">
                            <span *ngIf="myForm.controls['ownerName'].errors.required">
                                Owner Name is required.
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <div class='col-md-2'><label> Owner Location</label></div>
                    <div class='col-md-6'>
                        <input type="text" class="form-control" formControlName="ownerLocation" #ownerLocation />
                    </div>
                    <div>
                        <div *ngIf="myForm.controls['ownerLocation'].invalid && 
                            (myForm.controls['ownerLocation'].dirty || 
                            myForm.controls['ownerLocation'].touched)" class="alert alert-danger">
                            <span *ngIf="myForm.controls['ownerLocation'].errors.required">
                                Owner Location is required.
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <div class='col-md-2'><label for="items"> Select Model</label></div>
                    <div class='col-md-6'>
                        <select formControlName="items">
                            <option *ngFor="let item of itemArr" [ngValue]="item">{{item.model}}</option>
                        </select>
                    </div>
                </div>







                <div>
                    <button type="submit" [disabled]="myForm.pristine || myForm.invalid" class="btn btn-primary">Add
                        Owner</button>
                </div>
            </form>
        </div>
    </div>
    <div class='card-footer' style="text-align:right">
        <a [routerLink]="['']">Go To Home</a>
    </div>
</div>