<div class="container">
    <div class="card">
        <div class='card-header'>
            <h2>{{pageTitle}}</h2>
        </div>
        <div class="card-body">
            <form novalidate [formGroup]="myForm" (ngSubmit)="saveItem()">

                <div class="form-group row mb-2">
                    <label class='col-md-2'> Model</label>
                    <div class='col-md-6'>
                        <input type="text" class="form-control" formControlName="model" #model />
                    </div>
                    <div>
                        <div *ngIf="myForm.controls['model'].invalid && 
                            (myForm.controls['model'].dirty || 
                            myForm.controls['model'].touched)" class="alert alert-danger">
                            <span *ngIf="myForm.controls['model'].errors.required">
                                Model is required.
                            </span>
                        </div>
                    </div>
                </div>





                <div class="form-group row mb-2">
                    <div class='col-md-2'><label> Company</label></div>
                    <div class='col-md-6'>
                        <input type="text" class="form-control" formControlName="company" #company />
                    </div>
                    <div>
                        <div *ngIf="myForm.controls['company'].invalid && 
                            (myForm.controls['company'].dirty || 
                            myForm.controls['company'].touched)" class="alert alert-danger">
                            <span *ngIf="myForm.controls['company'].errors.required">
                                Company is required.
                            </span>
                        </div>
                    </div>
                </div>







                <div>
                    <button type="submit" [disabled]="myForm.pristine || myForm.invalid" class="btn btn-primary">Add
                        Item</button>
                </div>
            </form>
        </div>
    </div>
    <div class='card-footer' style="text-align:right">
        <a [routerLink]="['']"><i class='fa fa-chevron-left'></i> Go To Home</a>
    </div>
</div>